<div class="container">
  <header [ngStyle]="{backgroundColor: 'black', color: 'white', padding: '10px'}">
    <h1>E-cart</h1>
  </header>
  <main class="main">
    <div class="input-box input-group">
      <input type="text" [(ngModel)]="inputText">
      <button type="button" [ngClass]="{'btn': true, 'btn-search': inputText, 'btn-search-disabled': !inputText}"
        [disabled]="!inputText" (click)="onBtnSearch()">Search</button>
    </div>
    <p *ngIf="inputText != ''" class="add-text"><strong>Are you looking for: </strong>{{bindInputValue}}</p>
    <div class="card">
      <ul *ngFor="let p of products" class="items">
        <div class="card-image">
          <img [src]="p.img" alt="">
        </div>
        <li class="item" [ngStyle]="{fontWeight: 'bold'}">{{p.product | uppercase}}</li>
        <li class="item">{{p.discription}}</li>
        <li class="item">Rs. {{p.price}}/-</li>
        <li class="item" [ngStyle]="{color: p.inStock ? 'Green': 'Red' }">{{p.inStock ? 'In stock': 'Out of stock'}}
        </li>
      </ul>
    </div>
  </main>
  <footer class="footer">
    <p class="footer-text">@copy right - 2024</p>
  </footer>
</div>